exceptionscenarios_(1)/src/main/mule/scnario-5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="scnario-4Flow5" doc:id="bc193de0-842d-45db-8b91-aa16f5b2f826" >
		<http:listener doc:name="Listener" doc:id="e2405f4a-41ca-4bac-88bf-0f27d7c82672" config-ref="HTTP_Listener_config" path="/scnario5">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="56882ac5-bfe7-4530-8f1d-9dd36c9610d9" name="private5"/>
		<set-payload value='#["Success main flow"]' doc:name='"Success main flow"' doc:id="60a45f56-1421-4047-97de-76951b68a5db" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="55e11f7d-77a8-48e6-a0b6-6a60c1926a49" >
				<set-payload value='#["Error main flow"]' doc:name='"Error main flow"' doc:id="ed8e1b0c-88dd-4027-a7eb-ea003d0e77b0" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="private5" doc:id="51aaba54-66a6-4b6f-9992-be80021f226b" >
		<validation:is-number doc:name="Is number" doc:id="adc18e6f-ce9b-46c6-ae8f-dd639b1dd65e" config-ref="Validation_Config" value="#[payload]" message="Payload is not number" numberType="INTEGER"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="8a9b5b3b-6b35-45bc-a15f-4c82a8ee8b2d" >
				<set-payload value='#["Error from private flow"]' doc:name='"Error from private flow"' doc:id="f63cb858-6bae-4bc7-a42b-d0343529db0e" />
			</on-error-propagate>

		</error-handler>
	
</flow>
	</mule>
